# OS X
.DS_Store

# Xcode
ObjectiveC.gcno
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
fastlane/build
fastlane/report.xml
*.xcscmblueprint
artifacts
xctestrun/
**/IDEWorkspaceChecks.plist

# AppCode
.idea

# CocoaPods
Pods
refreshPods.sh

iCanvasHudsonBuild
assets
Pods
*.xccheckout

tidy/build/

tmp/
universal/

Canvas.app.dSYM.zip
Carthage/
dd/

ios-open-source
video.mp4

# Generated data
fastlane/1
bluepill/
nightly-xcresults/
ui-test-results/
cache-metadata/

# rn
package-lock.json
yarn-error.log
*.tgz
build

# node
node_modules/
npm-debug.log
yarn-error.log

# Scripts data
scripts/build_automation/release.config
scripts/coverage/**/
scripts/coverage/*.xcresult
scripts/coverage/xccov.json
scripts/translations/source
scripts/translations/imports
scripts/apiModelCodegen/output
scripts/apiModelCodegen/input.json
scripts/.build
scripts/.swiftpm
scripts/Package.resolved

# Secrets
**/*.xcassets/Secrets/*.dataset
.bitrise.secrets.yml

# Offline
mobile-offline-downloader-ios/
