binary "https://customers.pspdfkit.com/carthage/mq7ic2x5FCWWUCuxWct2g87YfR9hpK/pspdfkit.json" == 8.3.1
github "ReactiveCocoa/ReactiveSwift" ~> 6.1.0
github "ReactiveCocoa/ReactiveCocoa" ~> 10.0
github "ReactiveCocoa/ReactiveObjC" ~> 3.1.1
github "ReactiveCocoa/ReactiveObjCBridge" "master"
