binary "https://customers.pspdfkit.com/carthage/TRIAL-x47r57c_x_ndkkTGJ8Un-fmB8EXXDom1r2FSyQhPZEx2i2uQGGBjZnzJTJ_az2BccXySgrFZK3AwksivROwULg/pspdfkit.json" "8.0.0"
github "google/EarlGrey" "ad70b511da47793e27e77c1a69c7895e8403be45"
