<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CanvasPSPDFKitLicenseKey</key>
	<string>P9ub0mSRM2To3zeS5Md6J7CepXXcyIakX3XWzlRgs30y2XmONHIj5Nnfv44p1rJGg2VlswqxJhhGu+W+MKjvS58ONgDjb2UwhYNtDxnL5lCjzGKEog9tp7TEvytkCXAbcTLi7HhxfKtVfvIr+GxkdOef5RTWrfQ0whGRV6n7/nEpew3Hx3lSoinQDgF+LO0PCDe/yrYKPPQ7VpAaGCRjeUgJp7/vDw+gEyu4UGJ2Nkub8LpHzZ1hjlRoDUxN/f+yt0GAw6vyFNbL/Ro2MD/3GUAb4DbzSYsy0Y4zUKePcn8yeZM9tS3Umve7+v8X1/d5GX+Tk4LZktjEoH9pSIwmVmfYEklu7uV/dXTxL6vDbz9rmso7s43617Zi/LJbf+knRsUmwIP67MJgKJRbJOxGE1bAyGec2lZt0bm4642JB7KEbjH1KGVFncL098vEuN0YQtJXJnTnipVgwpm5M9DDvI9Pl+B9mnMG6LcSjmh9YrRpTRG3M/0GNHSTvZpfj/WuhDjqtP+g1PI/cUduvaobi6tT8OMs/CpA53rT0R18SOTc+hAaIkQIa/NyK/2uCtez</string>
	<key>SpeedGraderPSPDFKitLicenseKey</key>
	<string>x3KSCrOk6TpFYgRQ2qZ6dthhmekvQ43Huc65mgNxZEd/ARwoKUwl/9cTL0Dtc0ilxJs6cq2asWom/vswjAA8ftsiuNchhy3n3UGrLln7ycJSqxxvWpNMsAJ8fZDD7WrphgZE5iCd2OLBTvgUX1zsK6K8UXsacan6D/Ws9SCZhbF8Pke9zrAKI83ZCCd2gFvjFVwumNJR69xWTQetOk9RKmHKFKGxpaA0qcsHG3S+d62xoU9w/OMfevBs4tT6CABzkCc7LbxBTmmj/tbdTvLdXaRyTaZS6kkrgxYjGmt8Tl3aFLV5t8Yg2UIrRkHIO1eNTQNEWa3eQDXhIZpSdCwVhil0nNJjdyJFJDok2Cdp+8jNZEkY3NXzA1v4Xpo8Alza7MOj0xz5RvoAF+cW1TVvtCe5aX9CNc5FZ7Uww4Lw4dEXw9+RuB8Jg3IYzlg5QhOhVGf8gQ5XNtZjZ1f2GjKwAlMjU3YPjzjnHuETRbngPrNvihc0VAIqY1qYC3rTq9M068Pvc9+4weSJmNmrYpUIElTBn6fPYdgAwK8lJ3cLPOj0LJLrrrb1f9PxrbT7lY/8</string>
	<key>SpeedGraderGoogleAnalyticsKey</key>
	<string>UA-37592364-3</string>
	<key>CanvasAppStoreLinkKey</key>
	<string>itms://itunes.apple.com/us/app/canvas-by-instructure/id480883488?mt=8</string>
	<key>ParentAppStoreID</key>
	<string>1097996698</string>
	<key>ParentKeychainService</key>
	<string>com.instructure.shared-credentials</string>
	<key>ParentKeychainAccessGroup</key>
	<string>8MKNFMCD9M.com.instructure.shared-credentials</string>
</dict>
</plist>
