<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Canvas Student</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSpokenName</key>
	<string>Canvas Student</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.instructure.icanvas</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>canvas-courses</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-awibvnhurx8gsox</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>com.instructure.icanvas</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>canvas-student</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>dbapi-1</string>
		<string>dbapi-3</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Attach photos and videos to messages and discussion posts or turn them in as assignment submissions.</string>
	<key>NSCrossWebsiteTrackingUsageDescription</key>
	<string>Canvas uses cookies to load media embedded in rich content.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Help us find schools near you.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Attach audio recordings to messages and discussion posts or turn them in as assignment submissions.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Attach photos and videos to messages and discussion posts or turn them in as assignment submissions.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Attach photos and videos to messages and discussion posts or turn them in as assignment submissions.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.instructure.icanvas.watchApp</string>
		<string>com.instructure.siri.shortcut.getgrades</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Frameworks/Core.framework/lato_italic.ttf</string>
		<string>Frameworks/Core.framework/lato_bolditalic.ttf</string>
		<string>Frameworks/Core.framework/lato_black.ttf</string>
		<string>Frameworks/Core.framework/lato_bold.ttf</string>
		<string>Frameworks/Core.framework/lato_regular.ttf</string>
		<string>Frameworks/Core.framework/balsamiq_regular.ttf</string>
		<string>Frameworks/Core.framework/balsamiq_bold.ttf</string>
		<string>Frameworks/Core.framework/lato_semibold.ttf</string>
		<string>Frameworks/Core.framework/lato-semibolditalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>VersionName</key>
	<string>Innovative Panda</string>
</dict>
</plist>
