body {
    font-family: Helvetica;
    font-weight: 100;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: text;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

img {
    max-width:100%;
    height: auto;
}

video {
    max-width:100%;
    height: auto;
}

.discussion_entry {
    font-size: 12pt;
}

.discussion_content p:first-child {
    margin-before: 0;
    -webkit-margin-before: 0;
}

.discussion_content p:last-child {
    margin-after: 0;
    -webkit-margin-after: 0;
}

.discsusion_content * {
    max-width: 100%;
}

.attachment_links {
    -webkit-margin-after: 0;
    margin-after:0;
    margin: 0;
    padding-left: 2em;
}

.attachment_links a {
    text-decoration: none;
    
    color: #165f99;
}
