<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comment</key>
	<string>(::[^"\n\r]*(?:"[^"\n\r]*"[^"\n\r]*)*[\r\n])</string>
	<key>keyword</key>
	<string>(?&lt;!\w)(assoc|call|cd|chdir|cls|cmd|color|copy|date|defined|del|dir|dpath|echo|else|endlocal|erase|errorlevel|exit|exist|for|ftype|goto|if|md|mkdir|move|not|path|pause|popd|prompt|pushd|rd|rem|rename|ren|rmdir|set|setlocal|shift|start|time|title|type|ver)(?!\w)</string>
	<key>number</key>
	<string>(?&lt;!\w)(((0x[0-9a-fA-F]+)|(([0-9]+\.?[0-9]*|\.[0-9]+)([eE][-+]?[0-9]+)?))[fFlLuU]{0,2})(?!\w)</string>
	<key>string</key>
	<string>("(?:[^"\\]|\\.)*")</string>
	<key>url</key>
	<string>((https?|mailto|ftp|file)://([-\w\.]+)+(:\d+)?(/([\w/_\.]*(\?\S+)?)?)?)</string>
</dict>
</plist>
