<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comment</key>
	<string>(%[^"\n\r]*(?:"[^"\n\r]*"[^"\n\r]*)*[\r\n])</string>
	<key>documentation_comment</key>
	<string>%(.*?)%</string>
	<key>documentation_comment_keyword</key>
	<string>(%|%)</string>
	<key>keyword</key>
	<string>(?&lt;!\w)(module|include|compile|author|vsn|behavior|behaviour|define|record|after|and|andalso|band|begin|bnot|bor|bsi|bsr|case|catch|cond|div|end|fun|if|let|not|of|or|orelse|query|receive|rem|try|when|xor)(?!\w)</string>
	<key>number</key>
	<string>(?&lt;!\w)(((0x[0-9a-fA-F]+)|(([0-9]+\.?[0-9]*|\.[0-9]+)([eE][-+]?[0-9]+)?))[fFlLuU]{0,2})(?!\w)</string>
	<key>string</key>
	<string>("(?:[^"\\]|\\.)*")</string>
	<key>url</key>
	<string>((https?|mailto|ftp|file)://([-\w\.]+)+(:\d+)?(/([\w/_\.]*(\?\S+)?)?)?)</string>
</dict>
</plist>
