<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comment</key>
	<string>(\/\/[^"\n\r]*(?:"[^"\n\r]*"[^"\n\r]*)*[\r\n])</string>
	<key>documentation_comment</key>
	<string>\/\*(.*?)\*\/</string>
	<key>documentation_comment_keyword</key>
	<string>(\/\*|\*\/)</string>
	<key>keyword</key>
	<string>(?&lt;!\w)(abstract|def|extern|internal|mutable|new|override|partial|public|private|protected|sealed|static|virtual|volatile|macro|namespace|using|array|byte|decimal|double|float|int|list|long|null|sbyte|short|string|uint|ulong|ushort|void|_|as|assert|base|catch|checked|do|else|false|finally|for|foreach|fun|get|if|ignore|implements|in|is|lock|match|null|out|params|ref|set|syntax|this|throw|true|try|typeof|unchecked|unless|when|where|while|with|class|enum|delegate|event|interface|module|struct|type|variant)(?!\w)</string>
	<key>number</key>
	<string>(?&lt;!\w)(((0x[0-9a-fA-F]+)|(([0-9]+\.?[0-9]*|\.[0-9]+)([eE][-+]?[0-9]+)?))[fFlLuU]{0,2})(?!\w)</string>
	<key>string</key>
	<string>("(?:[^"\\]|\\.)*")</string>
	<key>url</key>
	<string>((https?|mailto|ftp|file)://([-\w\.]+)+(:\d+)?(/([\w/_\.]*(\?\S+)?)?)?)</string>
</dict>
</plist>
