<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Canvas Parent</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Canvas Parent</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.15.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.instructure.parentapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>canvas-parent</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>23575</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<true/>
	<key>ITSEncryptionExportComplianceCode</key>
	<string>0a26c7eb-2aae-403b-beca-2032ea2b082a</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>canvas.docker</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Attach photos and videos to messages and discussion posts or turn them in as assignment submissions.</string>
	<key>NSCrossWebsiteTrackingUsageDescription</key>
	<string>Canvas uses cookies to load media embedded in rich content.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Attach audio recordings to messages and discussion posts or turn them in as assignment submissions.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Attach photos and videos to messages and discussion posts or turn them in as assignment submissions.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Attach photos and videos to messages and discussion posts or turn them in as assignment submissions.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Frameworks/Core.framework/lato_semibold.ttf</string>
		<string>Frameworks/Core.framework/lato_semibolditalic.ttf</string>
		<string>Frameworks/Core.framework/lato_black.ttf</string>
		<string>Frameworks/Core.framework/lato_bold.ttf</string>
		<string>Frameworks/Core.framework/lato_italic.ttf</string>
		<string>Frameworks/Core.framework/lato_bolditalic.ttf</string>
		<string>Frameworks/Core.framework/lato_regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
