html {
    background: var(--color-backgroundLightest);
    color: var(--color-textDarkest);
    font-family: system-ui;
    font-weight: 400;
}
html, body {
    margin: 0;
    padding: 0;
}
* {
    outline: 0px solid transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
#content {
    box-sizing: border-box;
    min-height: 1.25rem;
    padding: 16px;
}
#content:empty::before,
#content.show-placeholder::before {
    content: attr(placeholder);
    color: var(--color-textDark);
    position: absolute;
}
svg {
    display: block;
}
[data-media_comment_id] {
    background-color: var(--color-backgroundDarkest);
    width: 288px;
}
[data-uploading] {
    opacity: 0.25;
}
.image-overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
}
.progress {
    height: 44px;
    pointer-events: none;
    transform: rotateZ(-90deg);
    width: 44px;
}
.progress-track {
    fill: none;
    stroke: white;
}
.progress-fill {
    fill: none;
    stroke: var(--brand-primary);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: stroke-dashoffset 0.5s linear;
}
.remove-image {
    background: var(--color-backgroundDarkest);
    border: 0 none;
    border-radius: 12px;
    fill: white;
    height: 24px;
    -webkit-margin-start: calc(50% - 20px);
    padding: 3px;
    position: absolute;
    top: 8px;
    width: 24px;
}
.upload-error {
    align-items: center;
    background: white linear-gradient(to right, var(--color-backgroundDanger), var(--color-backgroundDanger) 40px, white 40px, white);
    border-radius: 4px;
    bottom: 8px;
    display: flex;
    left: 8px;
    line-height: 1.2;
    min-width: 220px;
    padding: 12px 0 12px 0;
    position: absolute;
    right: 8px;
}
[dir=rtl] .upload-error {
    background: white linear-gradient(to left, var(--color-backgroundDanger), var(--color-backgroundDanger) 40px, white 40px, white);
}
.upload-error-icon {
    fill: white;
    padding: 10px;
    width: 20px;
}
.retry-upload {
    border: 0 none;
    fill: var(--brand-linkColor);
    padding: 0;
    margin: 12px;
}
.upload-error-text {
    flex: 1;
    -webkit-margin-start: 12px;
}
.upload-error-title {
    font-weight: 600;
}
.upload-error-message {
    font-size: 0.875rem;
    margin-top: 4px;
}
.is-hidden {
    display: none;
}
