<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExternalResources</key>
	<array>
		<string>matterhorn.stage.dcex.harvard.edu/engage/player/watch.html</string>
		<string>matterhorn.dce.harvard.edu/engage/player/watch.html</string>
	</array>
	<key>ProtectedUserInformation</key>
	<array>
		<string>sfu.ca</string>
		<string>mobiledev</string>
	</array>
</dict>
</plist>
