<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621987604776-o8lagig2ti0uk9kiikpaemqbvem25g1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621987604776-o8lagig2ti0uk9kiikpaemqbvem25g1o</string>
	<key>API_KEY</key>
	<string>AIzaSyAuMQcDoNGYa_-uF-gJvjNDdgksgj0nwUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>621987604776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.instructure.icanvas.2u.SubmitAssignment</string>
	<key>PROJECT_ID</key>
	<string>canvas-fba17</string>
	<key>STORAGE_BUCKET</key>
	<string>canvas-fba17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621987604776:ios:ec34f47a0426055fd1481d</string>
</dict>
</plist>