<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>AFNetworking</string>
		<key>url</key>
		<string>https://github.com/AFNetworking/AFNetworking</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cartography</string>
		<key>url</key>
		<string>https://github.com/robb/Cartography</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Eureka</string>
		<key>url</key>
		<string>https://github.com/xmartlabs/Eureka</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mantle</string>
		<key>url</key>
		<string>https://github.com/Mantle/Mantle</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Marshal</string>
		<key>url</key>
		<string>https://github.com/utahiosmac/Marshal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Reactive Cocoa</string>
		<key>url</key>
		<string>https://github.com/ReactiveCocoa/ReactiveCocoa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>libextobjc</string>
		<key>url</key>
		<string>https://github.com/jspahrsummers/libextobjc</string>
	</dict>
</array>
</plist>
