<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Masonry</string>
		<key>url</key>
		<string>https://github.com/SnapKit/Masonry</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SVProgressHUD</string>
		<key>url</key>
		<string>https://github.com/SVProgressHUD/SVProgressHUD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TBBModal</string>
		<key>url</key>
		<string>https://github.com/thebestbits/TBBModal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AFNetworking</string>
		<key>url</key>
		<string>https://github.com/AFNetworking/AFNetworking</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cartography</string>
		<key>url</key>
		<string>https://github.com/robb/Cartography</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CWStatusBarNotification</string>
		<key>url</key>
		<string>https://github.com/cezarywojcik/CWStatusBarNotification</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DeviceKit</string>
		<key>url</key>
		<string>https://github.com/dennisweissmann/DeviceKit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DVR</string>
		<key>url</key>
		<string>https://github.com/venmo/DVR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EarlGrey</string>
		<key>url</key>
		<string>https://github.com/google/EarlGrey</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Eureka</string>
		<key>url</key>
		<string>https://github.com/xmartlabs/Eureka</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FXKeychain</string>
		<key>url</key>
		<string>https://github.com/nicklockwood/FXKeychain</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kingfisher</string>
		<key>url</key>
		<string>https://github.com/onevcat/Kingfisher</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cocoa Lumberjack</string>
		<key>url</key>
		<string>https://github.com/CocoaLumberjack/CocoaLumberjack</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mantle</string>
		<key>url</key>
		<string>https://github.com/Mantle/Mantle</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Marshal</string>
		<key>url</key>
		<string>https://github.com/utahiosmac/Marshal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nimble</string>
		<key>url</key>
		<string>https://github.com/Quick/Nimble</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Quick</string>
		<key>url</key>
		<string>https://github.com/Quick/Quick</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Reactive Cocoa</string>
		<key>url</key>
		<string>https://github.com/ReactiveCocoa/ReactiveCocoa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Result</string>
		<key>url</key>
		<string>https://github.com/antitypical/Result</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TPKeyboardAvoiding</string>
		<key>url</key>
		<string>https://github.com/michaeltyson/TPKeyboardAvoiding</string>
	</dict>
	<dict>
		<key>name</key>
		<string>URITemplate</string>
		<key>url</key>
		<string>https://github.com/kylef/URITemplate.swift</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JSTokenField</string>
		<key>url</key>
		<string>https://github.com/jasarien/JSTokenField</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SimulatorStatusMagic</string>
		<key>url</key>
		<string>https://github.com/shinydevelopment/SimulatorStatusMagic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Google Analytics</string>
		<key>url</key>
		<string>https://github.com/googleanalytics/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iCarousel</string>
		<key>url</key>
		<string>https://github.com/nicklockwood/iCarousel</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GData</string>
		<key>url</key>
		<string>https://github.com/google/gdata-objectivec-client</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UIView-DebugQuickLook</string>
		<key>url</key>
		<string>https://github.com/Inferis/UIView-DebugQuickLook</string>
	</dict>
	<dict>
		<key>name</key>
		<string>libextobjc</string>
		<key>url</key>
		<string>https://github.com/jspahrsummers/libextobjc</string>
	</dict>
</array>
</plist>
