body {
    background: transparent;
    margin: 0px;
	font-family: sans-serif;
}

.comment {
    background: rgb(230,230,230);
    border-top: solid 1px rgb(255,255,255);
    border-bottom: solid 1px rgb(155,153,153);
    margin: 0px;
    padding: 13px;
    font-size: 10pt;
    color: rgb(90,90,90);
    text-shadow: rgb(255,255,255) 1px 1px 0;
}

.comment a:link, a:visited {
    color: #4B7092;
    font-size: 10pt;
    text-decoration: none;
}

.comment .body {
    margin: 7px 0;
}

.comment .footer {
    margin: 7px 0;
}

.comment .attachment {
    padding: 3px 0 0 10px;
}

.comment a:link, a:visited {
    color: rgb(75,112,146);
    text-decoration: none;
}

.comment .attachment img {
    vertical-align: top;
    margin-right: 5px;
}

.comment .audio, .comment .video {
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 5px;
    padding:0px;
    text-align: center;
}

.comment .audio, .comment .video img{
    margin: 0px;
}

.comment.me {
    background: rgb(212,219,225);
}

.header .author {
	font-size: 9pt;
	color: rgb(30,126,202);
	text-shadow: rgb(255,255,255) 1px 1px 0;
}

.header .author.me {
    color: rgb(60,60,60);
}

.header .posted_at {
	float: right;
	font-size: 9pt;
	color: rgb(148,148,148);
	text-shadow: rgb(255,255,255) 1px 1px 0;
}

div.attachment audio {
    display: block;
    width: 95%;
    margin: 0 auto;
    /*-webkit-box-shadow: 0 0 5px #000;*/
}

/* Don't let stuff go beyond the bounds of the browser */
* {
    max-width: 100%;
}
