<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gRPCSoSeedyAPIKey</key>
	<string>AIzaSyDXUUJkvTPNFpYu9m2qPHnmwwCb3pQkSR4</string>
	<key>CanvasPSPDFKitLicenseKey</key>
	<string>sr0jjIuVcPBV+TdlainiPXg6ddORMTmH/yJ9LFUu4eyJqIru6DNwPCPqkfMAQCwWeLLPE/Spb4w505FgwK54meCTGcei4XMJG9MVvpXU2NGuoLITDEsQDUY669CWChtti5DPPGtLByKaTaRIkexZMjfXiho01qxNeFef3yCvOH9N8GSWKkAaGmpe2b6X9ikLzgIiogWo83+SXmyvSmHgyZf9ejqiSXOC4rY1zAvUAltSqFH+Fb0QZB7YdszUO9QZFLZuZLhsVoW82IpbwDaei8Jzk0+h2qdgdtR6jkITtSEUd/gPrN4Y8uKorCwImPIkGof6VOu4K1a+lFF5wDutamjTa3aoZLrq2axbqVojY9XhDvyDQtFpc3Z7aEfvpXXHGziHwnDxXGQNvqd+WLtQrIsW7DnjKkYTZd286Uvx6fBRD/bSPMXrZBNFhLJOvKZu2TbrKJLuHnDT57ywUiurJNj1Yc8x8HxSoitoL/llDqqSMbsSoky9qMLbDzvs6KviJfGH3w8cZLmbM83gSx6JjqMlYzbhR5kc4otsw6UYe38NueswuOvvdzjUpbp1OlexYFsRWnhzIOxPJB8XapKzVg==</string>
	<key>CanvasAppStoreLinkKey</key>
	<string>itms://itunes.apple.com/us/app/canvas-by-instructure/id480883488?mt=8</string>
	<key>ParentAppStoreID</key>
	<string>1097996698</string>
	<key>ParentKeychainService</key>
	<string>com.instructure.shared-credentials</string>
	<key>ParentKeychainAccessGroup</key>
	<string>8MKNFMCD9M.com.instructure.shared-credentials</string>
	<key>TeacherPSPDFKitLicenseKey</key>
	<string>IPEfxcMyWnz3skFyVBtpbN9eLp5YD1PokgJCWDWHXQRjs0DZHS2VvTEKkhKv6EqsP0GWgBg4EYGXVYmctWuQe5c0f2RXelyqVj5hgDX0RG2BqmJuB/+dt9n8JGV7C7tEod/JpIwYMpFTlYJErcJIlGgnugFjL8PI3/SBxqTaYqiYXQ8wg+WRLFBDRlEK4LbIaIs+WqftlRappWUrRzJjeq49I4mP5xGOWLyOthCZU2RKZ4D+TiJq14NS77IXsw/7irzdlSibKdrRKWmCi1Mtxccv0SRm/iDaHAvWPjbbOeS+MBePPbzTL92atSkmsx9+kSySCNXdthmI7aJR3jfrwH7SZB7BOY4wtp7vI3AQ7HFsw1zBD6rw2tWeqbZkVYWLVZ8BAr73zU93uNg9iHbgv+KOT78bLyoA9f9ioNGQN8VRxmu8BwCO20VV0GhYrXS0T0UU1kxyRo1H4y7RSVzNJPhQrDDbuHPsigOqKVsbrlOg5jjglDdbHMzGMNbf7Rl4jiJ1f6eQALOzf//1pk8eNwCqOT2hl46ssM6oXKllzN+89pGcnyDMDrzkTXr7yNDtsjdsprhi44Tf0W49oBS0Lg==</string>
</dict>
</plist>
