<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Widgets</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>7.8.0</string>
	<key>CFBundleVersion</key>
	<string>22320</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>canvas.docker</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>../../Frameworks/Core.framework/lato-semibolditalic.ttf</string>
		<string>../../Frameworks/Core.framework/lato_semibold.ttf</string>
		<string>../../Frameworks/Core.framework/lato_italic.ttf</string>
		<string>../../Frameworks/Core.framework/lato_bolditalic.ttf</string>
		<string>../../Frameworks/Core.framework/lato_black.ttf</string>
		<string>../../Frameworks/Core.framework/lato_bold.ttf</string>
		<string>../../Frameworks/Core.framework/lato_regular.ttf</string>
		<string>../../Frameworks/Core.framework/balsamiq_regular.ttf</string>
		<string>../../Frameworks/Core.framework/balsamiq_bold.ttf</string>
	</array>
</dict>
</plist>
