---
name: CITest
on: pull_request

jobs:
  citest:
    name: CITest
    runs-on: macOS-10.14
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Brew Install
        run: brew install bitrise
      - uses: actions/setup-node@master
        with:
          node-version: 10.16.0
      - name: Use XCode 11
        run: sudo xcode-select -s /Applications/Xcode_11.app/Contents/Developer
      - name: Set timezone to MST
        run: sudo systemsetup -settimezone America/Denver
      - name: Bitrise Secrets
        run: |
          printf "%s" "${{ secrets.BITRISE_SECRETS_YML }}" > .bitrise.secrets.yml
      - name: Canvas iOS Secrets
        run: |
          git clone https://ios-danger:${{ secrets.DANGER_GITHUB_TOKEN }}@github.com/instructure/steps-canvas-ios-secrets ../secrets
          ../secrets/scripts/setup-dev-secrets.sh
      - name: Bitrise
        run: |
          set -exo pipefail
          if [[ "$GITHUB_EVENT_NAME" = pull_request ]]; then
            export BITRISE_PULL_REQUEST=$(jq '.number' "$GITHUB_EVENT_PATH")
            export BITRISEIO_GIT_BRANCH_DEST=$(jq '.pull_request.base.ref' "$GITHUB_EVENT_PATH")
          fi
          export GIT_REPOSITORY_URL=git@github.com:instructure/canvas-ios.git
          # lie to danger
          export BITRISE_IO=true
          bitrise --ci run danger --config scripts/build_automation/bitrise_workflows/tests.yml
